<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/CSS/contact.css">
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    {% comment %} <header>
        <div class="navbar">
            <div class="logo">
                <h1>CluckBox</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'order' %}">Cart</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header> {% endcomment %}

    <div class="navbar">
      <div class="menu">
          <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><a href="{% url 'order' %}">Cart</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
      </div>
    </div>

    
    <section class = "contact-section">
      <div class = "contact-bg"><br><br><br>
        <h3>Get in Touch with Us</h3>
        <h2>contact us</h2>
        <div class = "line">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class = "text">The company itself is a very successful company. It is easy to assume that those who are hindered by the way of flight must laboriously reject any other body, for most of all, the option of following those who are suffering..</p>
      </div>


      <div class = "contact-body">
        <div class = "contact-info">
          <div>
            <span><i class = "fas fa-mobile-alt"></i></span>
            <span>Phone No.</span>
            <span class = "text">+919156095587</span>
          </div>
          <div>
            <span><i class = "fas fa-envelope-open"></i></span>
            <span>E-mail</span>
            <span class = "text">cluckbox2023@gmail.com</span>
          </div>
          <div>
            <span><i class = "fas fa-map-marker-alt"></i></span>
            <span>Address</span>
            <span class = "text">SR No 75 Near Avenue97 opp. Brandfactory Hadapsar pune 411028</span>
          </div>
          <div>
            <span><i class = "fas fa-clock"></i></span>
            <span>Opening Hours</span>
            <span class = "text">Monday - Friday (9:00 AM to 5:00 PM)</span>
          </div>
        </div>

        <div class = "contact-form">
          <form method="POST" action="">
            {% csrf_token %}
            <div>
              <input type = "text" class = "form-control" placeholder="First Name" name="fname">
              <input type = "text" class = "form-control" placeholder="Last Name" name="lname">
            </div>
            <div>
              <input type = "email" class = "form-control" placeholder="Email" name="email">
              <input type = "text" class = "form-control" placeholder="Phone" name="phone">
            </div>
            <textarea rows = "5" placeholder="Message" class = "form-control" name="textarea"></textarea>
            <input type = "submit" class = "send-btn" value = "send Message">

          </form>

          <div>
            <img src = "/static/IMG/user.jpg" alt = "">
          </div>
        </div>
      </div>

      
      <div class = "contact-footer">
        <h3>Follow Us</h3>
        <div class = "social-links">
          <a href = "#" class = "fab fa-facebook-f"></a>
          <a href = "#" class = "fab fa-twitter"></a>
          <a href = "#" class = "fab fa-instagram"></a>
          <a href = "#" class = "fab fa-linkedin"></a>
          <a href = "#" class = "fab fa-youtube"></a>
        </div>
      </div>
    </section>

    

  </body>
</html>